.search-bar__container {
  display: flex;
  flex-direction: row;
  background-color: aqua;
  border-radius: 10px;
  width: 100%;
  align-content: center;
  margin: 10px;
  justify-content: space-around;
}
.search-bar__container input {
  border: 1px solid gray;
  border-radius: 20px;
  width: 280px;
}
.search-bar__container button {
  width: 280px;
  border-radius: 20px;
  height: 25px;
}
.search-bar__container button:active {
  background-color: aqua;
}
@media screen and (min-width: 360) and (max-width: 640px) {
  .search-bar__container input {
    width: 150px;
  }
  .search-bar__container button {
    width: 150px;
  }
}
@media screen and (max-width: 360px) {
  .search-bar__container button {
    width: 100px;
  }
  .search-bar__container input {
    width: 100px;
  }
}
